*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.apk

.idea/

app/flexi/release/output.json

app/flexi/release/app-flexi-release.apk

app/flexilockercpl/release/



*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup
app/release/

app/debug/

admin/release/

app/demo/admin-demo\.apk

app/demo/app-demo\.apk

app/demo/output\.json

app/demo/

*.apk

admin/demo/output\.json

admin/debug/output\.json
